<div class="table-responsive" style="position: relative; right: 20px;">
    <table class="table table-bordered table-sm" style="font-size: 12px;">
        <thead>
            <tr>
                <th>Case #</th>
                <th>Patient Name</th>
                <th>Age</th>
                <th>Patient Id</th>
                <th>Gender</th>
                <th>Procedure</th>
                <th>Scheduled Date</th>
                <th>Anesthetist</th>
                <th>Nurse</th>
                <th>Status</th>
                <th>Actual Start</th>
                <th>Actual Finish</th>
                <th>Estimated Duration</th>
            </tr>
        </thead>
    </table>
</div>